:root{
    --scissor-gd:linear-gradient(180deg,hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper-gd:linear-gradient(180deg,hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    --rock-gd:linear-gradient(180deg,hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    --mainFont:'Barlow Semi Condensed', sans-serif;
    --darkText:hsl(229, 25%, 31%);
    --scoreText:hsl(229, 64%, 46%);
    --headerOutline:3px solid hsl(217, 16%, 45%);
    --background:radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}


/*Desktop*/


html,body{
    width:100%;
    height:100%;
    font-family: var(--mainFont);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background:var(--background);
    overflow: hidden;
}

.rps{
    min-width: 960px;
    min-height:650px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.rps__header-container{
    width:100%;
    display:flex;
    justify-content: center;
    margin:.5rem;
}

.rps__header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width:700px;
    border: var(--headerOutline);
    border-radius: 1rem;
    padding:1rem 1.5rem;
    margin-bottom: 3rem;
}

.rps__score-container{
    width:150px;
    height:110px;
    background-color: whitesmoke;
    border-radius: .5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: .2rem;
}

.rps__score{
    color:var(--scoreText);
    font-size: 1rem;
}

.rps__number{
    color:var(--darkText);
    font-size:4.5rem;
}

.rps__main-container{
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.rps__main{
    width:100%;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
    position: relative;
}

.rps__triangle-bg{
    position:absolute;
    width:300px;
}

.rps__buttons{
    position:relative;
    width:300px;
    height:300px;
}

.rps__buttons > * {
    border:none;
    cursor:pointer;
}

.rps__rock-container,.rps__paper-container,.rps__scissor-container {
    background-color: whitesmoke;
    border-top:8px solid hsl(217, 16%, 80%);
    width:150px;
    height:150px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

div > img{
    width:65px;
}

.rps__rock{
    position:absolute;
    left:17%;
    top:55%;
    width:200px;
    height:200px;
    border-radius: 50%;
    background:var(--rock-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid hsl(349, 71%, 40%);
}

.rps__rock:hover{
    box-shadow:0 0 15px hsl(349, 71%, 52%);
}

.rps__rock:hover img{
    filter: invert(28%) sepia(57%) saturate(2212%) hue-rotate(323deg) brightness(94%) contrast(101%);
}

.rps__paper{
    position:absolute;
    left:-27.5%;
    top:-25%;
    width:200px;
    height:200px;
    border-radius: 50%;
    background:var(--paper-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:10px solid hsl(229, 64%, 46%);
}

.rps__paper:hover{
    box-shadow:0 0 15px hsl(230, 89%, 62%);
}

.rps__paper:hover img{
    filter: invert(22%) sepia(68%) saturate(2566%) hue-rotate(214deg) brightness(94%) contrast(83%);
}

.rps__scissor{
    position:absolute;
    left:60%;
    top:-25%;
    width:200px;
    height:200px;
    border-radius: 50%;
    background:var(--scissor-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:10px solid hsl(39, 90%, 34%);
}

.rps__scissor:hover{
    box-shadow:0 0 15px hsl(39, 89%, 49%);
}

.rps__scissor:hover img{
    filter: invert(65%) sepia(48%) saturate(1260%) hue-rotate(357deg) brightness(96%) contrast(92%);
}

.rps__rules{
    font-weight: 700;
    font-size:.8rem;
    padding:.5rem 1.6rem;
    background-color: transparent;
    color:rgb(214, 210, 210);
    letter-spacing: .1rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: .5rem;
    position:absolute;
    left:90%;
    top:90%;
    cursor: pointer;
}

.rps__rules:hover{
    box-shadow: 0 0 5px hsl(217, 16%, 45%);
}


/*Modal-desktop*/


.rps__modal-container{
    position: fixed;
    background-color: hsla(0,100%,0%,.5);
    min-width: 960px;
    min-height:650px;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    transition:opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.rps__modal-containerTg{
    opacity:1;
    visibility: visible;
}

.rps__modal{
    /* display:none; */
    position:absolute;
    background-color:rgb(235, 230, 230);
    width: 400px;
    height: 425px;
    border-radius: .5rem;
    padding:0 2rem;
    margin-top:4rem;
}

.rps__modal-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.rps__modal-title{
    font-size:2rem;
    color:var(--darkText);
}

.rps__modal-close{
    width:1.3rem;
    height:1.3rem;
    cursor: pointer;
}

.rps__modal-close:hover{
    filter: invert(28%) sepia(57%) saturate(2212%) hue-rotate(323deg) brightness(94%) contrast(150%);
}

.rps__modal-rules{
    width:100%;
    height:70%;
}


/*DynamicRps*/


.rps__mainHd{
    visibility:hidden;
}

#rps__containerPnC{
    position:absolute;
    width:80%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

#rps__containerPnC > *{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}

#rps__picked{
    position:relative;
    width:26%;
    height:75%;
    text-align: center;
}

#rps__Cont{
    background-color: whitesmoke;
    border-top:8px solid hsl(217, 16%, 80%);
    width:190px;
    height:190px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#rps__Cont > img {
    width:80px;
}


/*ROCK*/


#rps__rText{
    font-size:1.3rem;
    color:whitesmoke;
    letter-spacing: .1rem;
}

.rps__dynRock{
    color:hsl(349, 71%, 52%);
}

#rps__rBtn {
    border:none;
    cursor:pointer;
}

#rps__rBtn{
    width:250px;
    height:250px;
    border-radius: 50%;
    background:var(--rock-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid hsl(349, 71%, 40%);
}

#rps__rBtn:hover{
    box-shadow:0 0 15px hsl(349, 71%, 52%);
}

#rps__rBtn:hover img{
    filter: invert(28%) sepia(57%) saturate(2212%) hue-rotate(323deg) brightness(94%) contrast(101%);
}


/*PAPER*/


#rps__pText{
    font-size:1.3rem;
    color:whitesmoke;
    letter-spacing: .1rem;
}

.rps__dynPaper{
    color:hsl(230, 89%, 62%);
}

#rps__pBtn {
    border:none;
    cursor:pointer;
}

#rps__pBtn{
    width:250px;
    height:250px;
    border-radius: 50%;
    background:var(--paper-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:10px solid hsl(229, 64%, 46%);
}

#rps__pBtn:hover{
    box-shadow:0 0 15px hsl(230, 89%, 62%);
}

#rps__pBtn:hover img{
    filter: invert(22%) sepia(68%) saturate(2566%) hue-rotate(214deg) brightness(94%) contrast(83%);
}


/*SCISSORS*/


#rps__sText{
    font-size:1.3rem;
    color:whitesmoke;
    letter-spacing: .1rem;
}

.rps__dynScissors{
    color:hsl(39, 89%, 49%);
}

#rps__sBtn {
    border:none;
    cursor:pointer;
}

#rps__sBtn{
    width:250px;
    height:250px;
    border-radius: 50%;
    background:var(--scissor-gd);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:10px solid hsl(39, 90%, 34%);
}

#rps__sBtn:hover{
    box-shadow:0 0 15px hsl(39, 89%, 49%);
}

#rps__sBtn:hover img{
    filter: invert(65%) sepia(48%) saturate(1260%) hue-rotate(357deg) brightness(96%) contrast(92%);
}


/*COMPUTER BASIC STYLES*/


#rps__computer{
    position:relative;
    width:26%;
    height:75%;
    text-align: center;
}

#rps__ContPk{
    background-color: rgba(0, 0, 0, .2);
    width:190px;
    height:190px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#rps__cText{
    font-size:1.3rem;
    color:whitesmoke;
    letter-spacing: .1rem;
}

#rps__dynPkAnim{
    animation-name: picking;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes picking {
    0%{
        color:hsl(349, 71%, 52%);
        text-shadow: 0px 0px 2px hsl(349, 71%, 52%);
    }
    50%{
        color:hsl(230, 89%, 62%);
        text-shadow: 0px 0px 2px hsl(230, 89%, 62%);
    }
    100%{
        color:hsl(39, 89%, 49%);
        text-shadow: 0px 0px 2px hsl(39, 89%, 49%);
    }
}


/*Result*/


#resultCont{
    width:0%;
    height:185px;
    overflow: hidden;
}

#resultAnim{
    transition: width 0.5s ease-in-out;
    width:230px;
    height:185px;
    overflow: hidden;
}

#resultT{
    text-align: center;
    font-size:3.5rem;
    font-weight: 700;
    width:230px;
    margin-bottom:-1rem;
    color:whitesmoke;
    text-shadow: 1px 1px 5px black;
}

#resultBtn{
    width:230px;
    padding:1rem 0;
    font-size: 1rem;
    font-weight: 700;
    border:none;
    border-radius: .5rem;
    color:hsl(229, 25%, 31%);
    cursor:pointer;
}

#resultBtn:hover{
    color:hsl(349, 70%, 56%);
}

.resultAnim1{
    position:absolute;
    z-index:-1;
    width:350px;
    height:350px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    animation-name: anim1;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@keyframes anim1 {
    0%{
        width:0px;
        height:0px;
    }
    50%{
        width:175px;
        height:175px;
    }
    100%{
        width:350px;
        height:350px;
    }
}

.resultAnim2{
    position:absolute;
    z-index:-1;
    width:450px;
    height:450px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    animation-name: anim2;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@keyframes anim2 {
    0%{
        width:0px;
        height:0px;
    }
    50%{
        width:225px;
        height:225px;
    }
    100%{
        width:450px;
        height:450px;
    }
}

.resultAnim3{
    position:absolute;
    z-index:-1;
    width:550px;
    height:550px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    animation-name: anim3;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@keyframes anim3 {
    0%{
        width:0px;
        height:0px;
    }
    50%{
        width:275px;
        height:275px;
    }
    100%{
        width:550px;
        height:550px;
    }
}


/*Mobile*/


@media screen and (min-width:320px) and (max-width:450px){
    body,html{
        overflow: visible;
    }

    .rps{
        padding:1rem;
        min-width: 320px;
        min-height: 0;
        overflow: hidden;
    }
    
    .rps__header-container{
        width:100%;
        display:flex;
        justify-content: center;
        margin:0;
    }
    
    .rps__header{
        align-items: center;
        width:100%;
        height:125px;
        border-radius: .5rem;
        padding:.5rem 1rem;
        margin-bottom: 1.5rem;
    }
    
    .rps__logo{
        width:100px;
    }
    
    .rps__score-container{
        width:100px;
        height:90px;
        line-height: 2rem;
        letter-spacing: .1rem;
    }
    
    .rps__score{
        color:var(--scoreText);
        font-size: 1rem;
    }
    
    .rps__number{
        color:var(--darkText);
        font-size:3rem;
    }
    
    .rps__main-container{
        width:100%;
        height:100vh;
        position: relative;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .rps__main{
        width:100%;
        height:50vh;
        margin-bottom:1rem;
        margin-top:2rem;
    }
    
    .rps__triangle-bg{
        position:absolute;
        width:60%;
        min-height: 230px;
        height: 60%;
        filter: drop-shadow(0px 0px 8px black);
    }
    
    .rps__buttons{
        position:relative;
        width:300px;
        height:300px;
    }
    
    .rps__buttons > * {
        border:none;
        cursor:default;
    }
    
    .rps__rock-container,.rps__paper-container,.rps__scissor-container {
        background-color: whitesmoke;
        border-top:8px solid hsl(217, 16%, 80%);
        width:90px;
        height:90px;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    div > img{
        width:40px;
    }
    
    .rps__rock{
        position:absolute;
        left:28%;
        top:50%;
        width:125px;
        height:125px;
        border-radius: 50%;
        background:var(--rock-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom: 10px solid hsl(349, 71%, 40%);
    }
    
    .rps__paper{
        position:absolute;
        left:0%;
        top:-10%;
        width:125px;
        height:125px;
        border-radius: 50%;
        background:var(--paper-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:10px solid hsl(229, 64%, 46%);
    }
    
    .rps__scissor{
        position:absolute;
        left:57.5%;
        top:-10%;
        width:125px;
        height:125px;
        border-radius: 50%;
        background:var(--scissor-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:10px solid hsl(39, 90%, 34%);
    }

    .rps__rules-container{
        height: 10vh;
        margin-top: 1.3rem;
    }
    
    .rps__rules{
        font-weight: 700;
        font-size:.9rem;
        padding:.7rem 1.7rem;
        background-color: transparent;
        color:rgb(214, 210, 210);
        letter-spacing: .1rem;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: .5rem;
        position: static;
        cursor: default;
    }
    
    .rps__rules:hover{
        box-shadow: 0 0 5px hsl(217, 16%, 45%);
    }
    
    
    /*Modal-desktop*/
    
    
    .rps__modal-container{
        position: fixed;
        min-width: 150px;
        min-height: 350px;
        height:100vh;
        width:90vw;
        visibility: hidden;
        transition:opacity .5s ease-in-out, visibility .5s ease-in-out;
    }
    
    .rps__modal-containerTg{
        opacity:1;
        visibility: visible;
    }
    
    .rps__modal{
        position:absolute;
        background-color:rgb(235, 230, 230);
        width: 100vw;
        height: 100vh;
        border-radius: .5rem;
        padding:0 2rem;
        margin-top:-2rem;
    }
    
    .rps__modal-main{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 106%;
        padding-top: 1rem;
    }
    
    .rps__modal-title{
        align-self: center;
        font-size:1.8rem;
        color:var(--darkText);
    }
    
    .rps__modal-close{
        align-self: flex-end;
        width:1.3rem;
        height:1.3rem;
        cursor: default;
        filter: invert(28%) sepia(57%) saturate(2212%) hue-rotate(323deg) brightness(94%) contrast(150%);
    }
    
    .rps__modal-rules{
        margin-top:3rem;
        width:100%;
        height:50%;
    }
    
    
    /*DynamicRps*/
    
    
    .rps__mainHd{
        visibility:hidden;
    }
    
    #rps__containerPnC{
        width:100%;
        height:100%;
        display: flex;
        align-items: flex-start;
    }
    
    #rps__containerPnC > *{
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
    }
    
    #rps__picked{
        position:relative;
        max-height: 200px;
        width:100%;
        height:45%;
        text-align: center;
        margin:0;
    }
    
    #rps__Cont{
        background-color: whitesmoke;
        border-top:8px solid hsl(217, 16%, 80%);
        width:100px;
        height:100px;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    #rps__Cont > img {
        width:50px;
    }
    
    
    /*ROCK*/
    
    
    #rps__rText{
        font-size:1rem;
        color:whitesmoke;
        letter-spacing: .1rem;
    }
    
    #rps__rBtn {
        border:none;
        cursor:default;
    }
    
    #rps__rBtn{
        width:130px;
        height:130px;
        border-radius: 50%;
        background:var(--rock-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom: 10px solid hsl(349, 71%, 40%);
    }
    
    
    /*PAPER*/
    
    
    #rps__pText{
        font-size:1rem;
        color:whitesmoke;
        letter-spacing: .1rem;
    }
    
    #rps__pBtn {
        border:none;
        cursor:default;
    }
    
    #rps__pBtn{
        width:130px;
        height:130px;
        border-radius: 50%;
        background:var(--paper-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:10px solid hsl(229, 64%, 46%);
    }
    
    
    /*SCISSORS*/
    
    
    #rps__sText{
        font-size:1rem;
        color:whitesmoke;
        letter-spacing: .1rem;
    }

    #rps__sBtn {
        border:none;
        cursor:default;
    }
    
    #rps__sBtn{
        width:130px;
        height:130px;
        border-radius: 50%;
        background:var(--scissor-gd);
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:10px solid hsl(39, 90%, 34%);
    }
    
    
    /*COMPUTER BASIC STYLES*/
    
    
    #rps__computer{
        position:relative;
        max-height: 200px;
        width:100%;
        height:45%;
        margin:0;
        text-align: center;
    }
    
    #rps__ContPk{
        background-color: rgba(0, 0, 0, .2);
        width:100px;
        height:100px;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    
    #rps__cText{
        font-size:1rem;
        color:whitesmoke;
        letter-spacing: .1rem;
    }
    
    #rps__dynPkAnim{
        animation-name: picking;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }
    
    @keyframes picking {
        0%{
            color:hsl(349, 71%, 52%);
            text-shadow: 0px 0px 2px hsl(349, 71%, 52%);
        }
        50%{
            color:hsl(230, 89%, 62%);
            text-shadow: 0px 0px 2px hsl(230, 89%, 62%);
        }
        100%{
            color:hsl(39, 89%, 49%);
            text-shadow: 0px 0px 2px hsl(39, 89%, 49%);
        }
    }
    
    
    /*Result*/
    
    
    #resultCont{
        width:0%;
        height:185px;
        overflow: hidden;
    }
    
    #resultAnim{
        transition: width 0.5s ease-in-out;
        width:230px;
        height:185px;
        position: absolute;
        top:35%;
        overflow: hidden;
        cursor: default;
    }
    
    #resultT{
        text-align: center;
        font-size:3.5rem;
        font-weight: 700;
        width:230px;
        margin-bottom:-1rem;
        color:whitesmoke;
        text-shadow: 1px 1px 5px black;
    }
    
    #resultBtn{
        width:230px;
        padding:1rem 0;
        font-size: 1rem;
        font-weight: 700;
        border:none;
        border-radius: .5rem;
        color:hsl(229, 25%, 31%);
        cursor:pointer;
    }
    
    .resultAnim1{
        position:absolute;
        z-index:-1;
        width:180px;
        height:180px;
        border-radius: 50%;
        background-color: rgba(255,255,255,.1);
        animation-name: anim1;
        animation-iteration-count: 1;
        animation-duration: .5s;
    }
    
    @keyframes anim1 {
        0%{
            width:0px;
            height:0px;
        }
        50%{
            width:80px;
            height:80px;
        }
        100%{
            width:180px;
            height:180px;
        }
    }
    
    .resultAnim2{
        position:absolute;
        z-index:-1;
        width:240px;
        height:240px;
        border-radius: 50%;
        background-color: rgba(255,255,255,.1);
        animation-name: anim2;
        animation-iteration-count: 1;
        animation-duration: .5s;
    }
    
    @keyframes anim2 {
        0%{
            width:0px;
            height:0px;
        }
        50%{
            width:120px;
            height:120px;
        }
        100%{
            width:240px;
            height:240px;
        }
    }
    
    .resultAnim3{
        position:absolute;
        z-index:-1;
        width:300px;
        height:300px;
        border-radius: 50%;
        background-color: rgba(255,255,255,.1);
        animation-name: anim3;
        animation-iteration-count: 1;
        animation-duration: .5s;
    }
    
    @keyframes anim3 {
        0%{
            width:0px;
            height:0px;
        }
        50%{
            width:150px;
            height:150px;
        }
        100%{
            width:300px;
            height:300px;
        }
    }
}